extends layout

block content
  h1= title
  p Welcome to #[em Microblog], my final project for the Web Applications course.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The database has the following record counts:

    ul
      li #[strong Users:] !{data.user_count}
      li #[strong Posts:] !{data.post_count}
