extends layout

block content
  h1= title
  p Create a new post. It must be between 3 and 200 characters in length.

  form(method='POST' action='')
    div.form-group
      label(for='content') Post:
      textarea#content.form-control(type='textarea', placeholder='Type your message here' name='content' rows='3' required='true' value=(undefined===post ? '' : post.content)) #{undefined===post ? '' : post.content}
    button.btn.btn-primary(type='submit') Send

  if errors 
    ul
      for error in errors
        li!= error.msg
