extends layout

block content
  h1= title

  ul
    each post in post_list
      li= post.content 
        |  L채hett채j채: 
        | #{post.creator.username}
        | , L채hetysaika: 
        | #{post.time_created}

    else
      li There are no posts.
